<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Recipe Book</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/auth" *ngIf="!isAuthenticated">Authenticate</a></li>
        <li routerLinkActive="active"><a routerLink="/recipes" *ngIf="isAuthenticated">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button"> Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style=" cursor: pointer;" (click)="onSaveData()"> Save Data</a></li>
            <li><a style=" cursor: pointer;" (click)="onFetchData()"> Fetch Data</a></li>
          </ul>
        </li>
        <li>
          <a style=" cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
