<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="row">
        <div class="col-xs-12">
          <button
            [disabled]="!recipeForm.valid"
            class="btn btn-primary"
            type="submit"
          >Save
          </button>
          <button
            (click)="onCancel()"
            class="btn btn-danger"
            type="button"
          >Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              class="form-control"
              formControlName="name"
              id="name"
              type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              class="form-control"
              formControlName="imagePath"
              id="imagePath"
              #imagePath
              type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" alt="" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="descriptions">Descriptions</label>
            <textarea
              class="form-control"
              formControlName="description"
              id="descriptions"
              rows="6"
              type="text"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div
            *ngFor="let ingredientCtrl of ingredientsControls;  let i = index"
            [formGroupName]="i"
            class="row"
            style="margin-top: 10px;">
            <div class="col-xs-8">
              <input
                class="form-control"
                formControlName="name"
                type="text">
            </div>
            <div class="col-xs-2">
              <input
                class="form-control"
                formControlName="amount"
                type="number">
            </div>
            <div class="col-xs-2">
              <button
                (click)="onDeleteIngredient(i)"
                class="btn btn-danger"
                type="button">X
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                (click)="onAddIngredient()"
                class="btn btn-success"
                type="button"> Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
