<div class="row">
  <div class="col-xs-12">
    <button (click)="onNewRecipe()" class="btn bg-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeElement of recipes; let i = index"
      [index]="i"
      [recipe]="recipeElement"></app-recipe-item>
  </div>
</div>

