<div class="row">
  <div class="col-xs-12">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            pattern="^[1-9]+[0-9]*$"
            required
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="!form.valid"
                  class="btn btn-success"
                  type="submit"> {{ editMode ? 'Update' : 'Add' }}</button>
          <button (click)="onDelete()"
                  *ngIf="editMode"
                  class="btn btn-danger"
                  type="button">Delete
          </button>
          <button (click)="onClear()"
                  class="btn btn-primary"
                  type="button">Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
